.heading_secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-flex;
  background-image: linear-gradient(to right, #009ffd, #2a2a72);
  color: transparent;
  background-clip: text;
  letter-spacing: 0.2rem;
  transition: all 0.2s;
}
.heading_secondary:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.u_center_text {
  text-align: center;
}
